// folder colors

.folder-1, .doc {
    color: $color-folder-1;
}

.folder-2, .others {
    color: $color-folder-2;
}

.folder-3, .pdf {
    color: $color-folder-3;
}

.folder-4, .docs {
    color: $color-folder-4;
}

.csv {
  color: $green;
}


.mb-md {
    margin-bottom: 3rem;
}